<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="/posts">
      <input type="text" name="username" placeholder="your username" /> <br />
      <textarea name="textarea"></textarea> <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
